body {
	background-color: #000;
}

@font-face {
    font-family: akzidenz-grotesk-condensed;
    src: url(http://images1.noterik.com/mupop/fonts/akzidenz-grotesk-condensed.woff);
}

@font-face {
	font-family: bebas_neueregular;
	src: url(http://images1.noterik.com/mupop/fonts/BebasNeue-webfont.woff);
}

#entryimage{
	width: 100%;
	height: 100%;
}

#pairing {
	display: none;
}

#questionscreen{
	position: absolute;
	width: 100%;
	height: 100%;
    background:rgba(0,0,0,0.4);  
}

#question_contrainer{
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;

}

#question_text{
	background-color: #009fda;
	color: #fff;
	font-size: 25px;
	font-weight: bold;
	padding: 5px;
}

/** static entry screen **/

#staticentryscreen {
	position: absolute;
	width: 100%;
	height: 100%;
	font-family: Arial,sans-serif;
	background-color: #33475a;
	overflow: hidden;
}

#pairing {
	display: none;
}

#image-container {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	overflow: hidden;
}

#image-wrapper {
	top: 0;
	overflow: hidden;
}

.staticentryscreen {
	width: 100% !important;
	height: 100% !important;
}

#title {
	position: relative;
	float: right;
	top: 18%;
	width: 45%;
	text-align: center;
	margin-right: 180px;
}

h1.title {
	text-align: right;
	font-size: 8vh;
	text-transform: uppercase;
	font-weight: 700;
}

.subrow {
	position: absolute;
	bottom: -88px;
	right: -156px;
	
}

.title-span {
	background-color: #008ce6;
	box-decoration-break: clone;
	box-shadow: -10px 0 0 #008ce6, 10px 0 0 #008ce6;
	font-family: akzidenz-grotesk-condensed,bebas_neueregular,Helvetica Neue,Arial,sans-serif;
}

#connect-row {
	position: absolute;
	top: 70%;
	height: 150px;
	left: 8%;
	white-space: nowrap;
}

#connect-info {
	text-align: center;
}

.inbl {
	display: inline-block;
    vertical-align: middle;
}

#mobile-phone {
	width: 90px;
	height: 150px;
	text-align: center;
	position: relative;
}

#mobile-phone:before {
	position: absolute;
  	font-family: FontAwesome;
  	font-size: 15em;
  	top: -0.36em;
  	left: 0;
  	content: "\f10b";
  	color: #e00034;
}

.centerer {
	height: 98%;
	width: 98%;
	background-color: #fff;
	border-radius: 20px;
}

#play-logo {
	width: 50px;
	height: 50px;
	margin-top: 50px;
}

.entryscreen-span {
	background-color: #008ce6;
	box-decoration-break: clone;
	box-shadow: -10px 0 0 #008ce6, 10px 0 0 #008ce6;
	text-transform: uppercase;
	font-family: akzidenz-grotesk-condensed,bebas_neueregular,Helvetica Neue,Arial,sans-serif;
	margin-left: 6px;
	letter-spacing: 1px;
	font-size: 3vw;
}

#entryimage {
	width: 100% !important;
	height: 100% !important;
}

/** interactive video screen **/

#videotitle {
	position: relative;
	float: right;
	top: 18%;
	width: 60%;
	text-align: center;
	margin-right: 180px;
}

h1.videotitle {
	text-align: right;
	font-size: 4vh;
	text-transform: uppercase;
	font-weight: 700;
}

.videotitle-span {
	background-color: #008ce6;
	box-decoration-break: clone;
	box-shadow: -10px 0 0 #008ce6, 10px 0 0 #008ce6;
	font-family: akzidenz-grotesk-condensed,bebas_neueregular,Helvetica Neue,Arial,sans-serif;
}

.videosubrow {
	position: absolute;
	bottom: -42px;
	right: -86px;
}

.videosubrow > img {
	width: 236px;
	height: 57px;
}

/* zoom and audio */

body {
	overflow: hidden;
}

#zoomandaudio {
	background-color: #000;	
	height: 100%;
}

#pairing {
	display: none;
}

#zoomandaudio-image-container {
	position: absolute;
	width: 100%;
	height: 93%;
	top: 0;
}

#image-wrapper {
	top: 0;
	overflow: hidden;
}

.zoomandaudio_image {
	width: 100%;
	height: 100%;
}

.zoomandaudio_layer {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
}

.zoomandaudio_spotmask {
	z-index:1100;
	opacity: 0;
}

#zoomandaudio_spots_holder {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;	
}

.zoomandaudio_spot {
	position: absolute;
	top: -23px;
	left: -23px;
	width: 46px;
	height: 46px;
	z-index: 100;
}

.zoomandaudio_spot_outer {
	width: 100%;
	height: 100%;
	border-radius: 100%;
	border-left: 6px solid rgba(255, 255, 255, 1);
  	border-right: 6px solid rgba(255, 255, 255, 1);
  	border-bottom: 6px solid rgba(255, 255, 255, 1);
  	border-top: 6px solid rgba(255, 255, 255, 1);
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}

@-moz-keyframes rotation {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(359deg);
  }
}

@-o-keyframes rotation {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(359deg);
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.zoomandaudio_spot_inner {
	opacity: 0.7;
	width: 100%;
	height: 100%;
	border-radius: 100%;
}

#url_row {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #3a393e;
	overflow: none;
	height: 7%;
	margin-left: 0;
}

h2.zoomandaudio {
	font-size: 4.5vh;
	margin: 0;
	padding: 0;
	padding-top: 0.5vh;
}

#zoomandaudio-mobile-phone {
	height: 3.6vh;
}

#zoomandaudio-mobile-phone:before {
	position: relative;
  	font-family: FontAwesome;
  	font-size: 6.1vh;
  	line-height: 5.1vh;
  	content: "\f10b";
  	color: #fff;
  	padding-right: 1vw;
}

.vertical-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.fill-height {
	height: 100%;
}

.poweredby {
	font-size: 2vh;
	color: #cccccc;
	padding: 0;
	padding-right: 0.2vw;
}

.max-height {
	max-height: 100%;
}

.nopadding {
	padding: 0;
}

.url_row_background {
	background-color: #008ce6;
}

h2.mupop {
	font-size: 3vh;
	margin: 0;
	padding: 0;
}