body {
	background-color: #000;
}

@font-face {
    font-family: akzidenz-grotesk-condensed;
    src: url(http://images1.noterik.com/mupop/fonts/akzidenz-grotesk-condensed.woff);
}

@font-face {
	font-family: bebas_neueregular;
	src: url(http://images1.noterik.com/mupop/fonts/BebasNeue-webfont.woff);
}

#entryimage{
	width: 100%;
	height: 100%;
}

#pairing {
	display: none;
}

#questionscreen{
	position: absolute;
	width: 100%;
	height: 100%;
    background:rgba(0,0,0,0.4);  
}

#question_contrainer{
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;

}

#question_text{
	background-color: #009fda;
	color: #fff;
	font-size: 25px;
	font-weight: bold;
	padding: 5px;
}

/** static entry screen **/

#staticentryscreen {
	position: absolute;
	width: 100%;
	height: 100%;
	font-family: Arial,sans-serif;
	background-color: #33475a;
	overflow: hidden;
}

#pairing {
	display: none;
}

#image-container {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	overflow: hidden;
}

#image-wrapper {
	top: 0;
	overflow: hidden;
	width: 100% !important;
	height: 100% !important;
}

#title {
	position: relative;
	float: right;
	top: 18%;
	width: 60%;
	text-align: center;
	margin-right: 180px;
}

h1.title {
	text-align: right;
	font-size: 8vh;
	text-transform: uppercase;
	font-weight: 700;
}

.subrow {
	position: absolute;
	bottom: -88px;
	right: -156px;
	
}

.title-span {
	background-color: #008ce6;
	box-decoration-break: clone;
	box-shadow: -10px 0 0 #008ce6, 10px 0 0 #008ce6;
	font-family: akzidenz-grotesk-condensed,bebas_neueregular,Helvetica Neue,Arial,sans-serif;
}

#connect-row {
	position: absolute;
	top: 70%;
	height: 150px;
	left: 8%;
	white-space: nowrap;
}

#connect-info {
	text-align: center;
}

.inbl {
	display: inline-block;
    vertical-align: middle;
}

#mobile-phone {
	width: 90px;
	height: 150px;
	text-align: center;
	position: relative;
}

#mobile-phone:before {
	position: absolute;
  	font-family: FontAwesome;
  	font-size: 15em;
  	top: -0.36em;
  	left: 0;
  	content: "\f10b";
  	color: #e00034;
}

.centerer {
	height: 98%;
	width: 98%;
	background-color: #fff;
	border-radius: 20px;
}

#play-logo {
	width: 50px;
	height: 50px;
	margin-top: 50px;
}

.entryscreen-span {
	background-color: #008ce6;
	box-decoration-break: clone;
	box-shadow: -10px 0 0 #008ce6, 10px 0 0 #008ce6;
	text-transform: uppercase;
	font-family: akzidenz-grotesk-condensed,bebas_neueregular,Helvetica Neue,Arial,sans-serif;
	margin-left: 6px;
	letter-spacing: 1px;
	font-size: 3vw;
}

#entryimage {
	width: 100% !important;
	height: 100% !important;
}

/** interactive video screen **/

#videotitle {
	position: relative;
	float: right;
	top: 18%;
	width: 60%;
	text-align: center;
	margin-right: 180px;
}

h1.videotitle {
	text-align: right;
	font-size: 4vh;
	text-transform: uppercase;
	font-weight: 700;
}

.videotitle-span {
	background-color: #008ce6;
	box-decoration-break: clone;
	box-shadow: -10px 0 0 #008ce6, 10px 0 0 #008ce6;
	font-family: akzidenz-grotesk-condensed,bebas_neueregular,Helvetica Neue,Arial,sans-serif;
}

.videosubrow {
	position: absolute;
	bottom: -42px;
	right: -86px;
}

.videosubrow > img {
	width: 236px;
	height: 57px;
}