body {
	background-color: #000;
}

#entryimage{
	width: 100%;
	height: 100%;
}

#pairing {
	display: none;
}

#questionscreen{
	position: absolute;
	width: 100%;
	height: 100%;
    background:rgba(0,0,0,0.4);  
}

#question_contrainer{
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;

}

#question_text{
	background-color: #009fda;
	color: #fff;
	font-size: 25px;
	font-weight: bold;
	padding: 5px;
}

/* static entry screen */

#staticentryscreen {
	position: absolute;
	width: 100%;
	height: 100%;
	font-family: Arial,sans-serif;
	background-color: #33475a;
	overflow: hidden;
}

#pairing {
	display: none;
}

#image-container {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
}

#image-wrapper {
	top: 0;
	overflow: hidden;
	width: 100% !important;
	height: 100% !important;
}

#title {
	position: absolute;
	top: 18%;
	height: 15%;
	width: 60%;
	left: 27%;
	text-align: center;
}

h1.title {
	text-align: right;
	font-size: 8vh;
	text-transform: uppercase;
	font-weight: 700;
}

.subrow {
	text-align: right;
	margin-right: -10vw;
	margin-top: -3.5vh;
}

.title-span {
	background-color: #009fda;
}

#connect-row {
	position: absolute;
	top: 70%;
	height: 150px;
	left: 8%;
	white-space: nowrap;
}

#connect-info {
	text-align: center;
}

.inbl {
	display: inline-block;
    vertical-align: middle;
}

#mobile-phone {
	width: 90px;
	height: 150px;
	text-align: center;
	position: relative;
}

#mobile-phone:before {
	position: absolute;
  	font-family: FontAwesome;
  	font-size: 15em;
  	top: -0.36em;
  	left: 0;
  	content: "\f10b";
  	color: #e00034;
}

.centerer {
	height: 98%;
	width: 98%;
	background-color: #fff;
	border-radius: 20px;
}

#play-logo {
	width: 50px;
	height: 50px;
	margin-top: 50px;
}

h2.entryscreen {
	background-color: #009fda;
	text-transform: uppercase;
	padding: 1vh;
}

#entryimage {
	width: 100% !important;
	height: 100% !important;
}