html, body, #screen, .fill-height {
	height: 100%;
}

body {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
}

#synctime {
	display: none;
}

#exhibition {
	height: 100%;
}

#noappselected {
	position: absolute;
	padding: 6px 10px 6px 10px;
	border: solid 1px silver;
  	background-color: #336;  	
	display: block;
	margin-left: auto;
    margin-right: auto;
	top: 50%;
	left: 40%;
}