<app>
	<view id="#screen">
		<template>screen.mst</template>
		<controller id="ScreenController">
		</controller>
	</view>
	
	<view id="#exhibition">
		<template>exhibition/exhibition.mst</template>
		<controller id="ExhibitionController">
		</controller>
	</view>
	
	<view id="#photoexplore_app">
		<template>photoexplore/photoexplore.mst</template>
		<controller id="PhotoExploreController">
		</controller>
	</view>

</app>