<app>

	<jumper id="/lou/mupop/station">
		<target>/lou/domain/mupop/user/daniel/html5application/mupop</target>
	</jumper>

	<jumper id="station.mupop.net@/lou/mupop/">
		<target>/lou/domain/mupop/user/daniel/html5application/mupop</target>
	</jumper>

	<model id="default">
		<username>/screen['profile']/username</username>
		<exhibitionid>/screen['vars']/exhibitionid</exhibitionid>
		<stationid>/screen['vars']/stationid</stationid>
		<roomid>/screen['vars']/roomid</roomid>
		<oldroomid>/screen['vars']/oldroomid</oldroomid>
		<roomname>/screen['vars']/roomname</roomname>
		<pairingid>/screen['vars']/pairingid</pairingid>
	
	 	<exhibitions>/domain['mupop']/user['@username']/exhibition</exhibitions>
	    <exhibition>/domain['mupop']/user['@username']/exhibition['@exhibitionid']</exhibition>
	    
	  	<rooms>/domain['mupop']/user['@username']/exhibition['@exhibitionid']/room</rooms>
	    <room>/domain['mupop']/user['@username']/exhibition['@exhibitionid']/room['@roomid']</room>
	    
		<stations>/domain['mupop']/user['@username']/exhibition['@exhibitionid']/station</stations>
		<station>/domain['mupop']/user['@username']/exhibition['@exhibitionid']/station['@stationid']</station>
	</model>

	<view id="#screen">
		<template>screen.mst</template>
		<controller id="ScreenController">
		</controller>
	</view>
	
	<view id="#exhibition">
		<template>exhibition/exhibition.mst</template>
		<style>exhibition/exhibition.css</style>
		<controller id="ExhibitionController">
		</controller>
	</view>
	
	<view id="#pairing">
		<template>pairing/pairing.mst</template>
		<style>pairing/pairing.css</style>
		<controller id="PairingController">
		</controller>
	</view>
	
	<view id="#photoexplore_app">
		<template>photoexplore/photoexplore.mst</template>
		<style>photoexplore/photoexplore.css</style>
		<controller id="PhotoExploreController">
		</controller>
	</view>
	
	<view id="#interactivevideo_app">
		<template>interactivevideo/interactivevideo.mst</template>
		<style>interactivevideo/interactivevideo.css</style>
		<controller id="InteractiveVideoController">
		</controller>
	</view>
	
	<view id="#photoinfospots_app">
		<template>photoinfospots/photoinfospots.mst</template>
		<style>photoinfospots/photoinfospots.css</style>
		<controller id="PhotoInfoSpotsController">
		</controller>
	</view>
	
	<view id="#staticentryscreen">
		<template>entryscreen/staticentryscreen.mst</template>
		<style>entryscreen/staticentryscreen.css</style>
		<controller id="StaticEntryScreenController">
		</controller>
	</view>

	<view id="#imagerotationentryscreen">
		<template>entryscreen/imagerotationentryscreen.mst</template>
		<style>entryscreen/imagerotationentryscreen.css</style>
		<controller id="ImageRotationEntryScreenController">
		</controller>
	</view>
	
	<view id="#zoomandaudio">
		<template>image/spotting/zoomandaudio.mst</template>
		<style>image/spotting/zoomandaudio.css</style>
		<controller id="ZoomAndAudioController">
			<javascript>image/spotting/ZoomAndAudioController.js</javascript>
		</controller>
	</view>
	
	<view id="#coverflow">
		<template>image/selection/coverflow.mst</template>
		<style>image/selection/coverflow.css</style>
		<controller id="CoverFlowController">
			<javascript>image/selection/CoverFlowController.js</javascript>
		</controller>
	</view>
</app>