#interactivevideo_wait_screen{
	position: absolute;
	width: 100%;
	height: 100%;
}

#exhibition_waitscreen_container{
	width: 100%;
	height: 100%;
}

#exhibition_title{
	background: #2c3e50;
    right: 0;
    top: 15%;
    position: absolute;
    padding: 10px;
    font-size: 210%;
    letter-spacing: 6px;
    text-shadow: 3px 2px #000000;
    letter-spacing: 15px;

}

#exhibition_url{
	background: #2c3e50;
    left: 0;
    bottom: 20%;
    position: absolute;
    padding: 10px;
    font-size: 210%;
    text-shadow: 3px 2px #000000;
    letter-spacing: 15px;

}